heat_template_version: 2013-05-23

parameters:
  domain_name:
    type: string

  server_name:
    type: string

resources:
  hello_world:
    type: "OS::Nova::Server"
    properties:
      name:
        str_replace:
          template: %domain%-%server%
          params:
            %domain: { get_param: domain_name }
            %server%: { get_param: server_name }
      flavor: 1GB Standard Instance
      image: 5b0d5891-f80c-412a-9b73-cc996de9d719
